/* ----------------------------------------------------------------
                 Truss No-Print No-Screen

author: Joseph McDonald - McDonald Media Production
------------------------------------------------------------------ */
/* -- ========================================================= -- */
/* -- ===    Truss No-Print No-Screen stylesheet            === -- */
/* -- ========================================================= -- */
/* 
Truss No-Print No-Screen stylesheet, "truss-noprint-noscreen.css", 
has two classes. 
No-Print class prevents the element that the class is attached to
from being sent to the printer. 
No-Screen class prevents the element that the class is attached to
from being dispayed on the screen at the DOM load. 
*/
/* -- ========================================================= -- */
@media print
{
 .no-print
    {
        display: none !important;
        height: 0;
    }

 .no-print, .no-print *{
        display: none !important;
        height: 0;
    }
}

@media screen 
{ 
 .no-screen 
	{ 
	display: none;
	 } 
}