/* ----------------------------------------------------------------
                 Truss No-Print No-Screen

author: Joseph McDonald - McDonald Media Production
------------------------------------------------------------------ */
/* -- ========================================================= -- */
/* -- ===                  DEMO                             === -- */
/* -- ========================================================= -- */
/*   
Truss No-Print No-Screen stylesheet, "truss-noprint-noscreen-demo.css", 
has two classes. 
No-Print class prevents the element that the class is attached to
from being sent to the printer. 
No-Screen class prevents the element that the class is attached to
from being dispayed on the screen at the DOM load. 
*/
/* -- ========================================================= -- */
@media print
{
	
p       { font-size: 90%; }
.small  { font-size: 70%; }
.bold   { font-weight: bold; }
.notice { color: red; background-color: yellow; }
img { float: left; margin-right: 1em;}	
main {clear:left;}
	
 .no-print
    {
        display: none !important;
        height: 0;
    }

 .no-print, .no-print *{
        display: none !important;
        height: 0;
    }
}

@media screen 
{
 .no-screen 
	{ 
	display: none;
	 } 
}