/* This stylesheet contains the truss clearfix helper class.  */
/* Based on Nicolas Gallagher - "micro" clearfix.             */
.tclearfix:before,
.tclearfix:after {
    content: " "; 
    display: table; 
}
.tclearfix:after {
    clear: both;
}
.tclearfix {
    *zoom: 1;  /* include this for IE 6/7 only (trigger hasLayout) */
}
}