/* ----------------------------------------------------------------
                 Truss Grid Template

author: Joseph McDonald - McDonald Media Production
------------------------------------------------------------------ */
/* -- ========================================================= -- */
/* -- === Large Desktop Layout - 1200 px  16 columns        === -- */
/* -- ========================================================= -- */
/*      large desktop layout (1200px and more )                    */    
 @media  only screen and (min-width: 1200px)
   {
      width: 0%; 
  min-width: 0;   
   max-width: 0; /*	 */

/*-- our cleafix hack -- */ 
  .row:before, 
    .row:after {
        content:"";
        display: table ;
        clear:both;
    }	 

.grid-container-16{
        width: 100%; 
/*   min-width: 1200px;   */                   	 
    }

/*-- setting border box on all elements inside the grid --*/     
.grid-container-16 *{
        box-sizing: border-box; 
    }

/* column width percent = divide 100 percent by num of columns */
/*to prevent empty columns from stacking provide min-height 1px   */     
    [class*='col-16'] {
        float: left; 
        min-height: 1px; 
        width: 6.25%; 
        /*-- gutter -- */  					 			
        padding: 12px;    								
		background-color: #f8ee79; 
    }

    .col-16-1{ width: 6.25%; }
    .col-16-2{ width: 12.5%; }
    .col-16-3{ width: 18.75%; }
    .col-16-4{ width: 25%; }
    .col-16-5{ width: 31.25%; }
	.col-16-6{ width: 37.5%; }
    .col-16-7{ width: 43.75%; }
    .col-16-8{ width: 50%;  }
    .col-16-9{ width: 56.25%; }
    .col-16-10{ width: 62.5%; }	
	.col-16-11{ width: 68.75%; }
    .col-16-12{ width: 75%; }  
    .col-16-13{ width: 81.25%; }
    .col-16-14{ width: 87.5%; }
    .col-16-15{ width: 93.75%; }
	.col-16-16{ width: 100%; } 

/* -- ========================================================= -- */ 
    .outline, .outline *{
        outline: 1px solid #F6A1A1; 
    }
	
    /* -- some extra column content styling -- */
    [class*='col-16'] > p {
	 background-color: #ffeb00; 
     padding: 0;
     margin: 0;
     text-align: center; 
     color: white; 
    }
	   
.text16::before {
  content: "Large Desktop Layout 1200 px";
	display: inline;
}	   	   
 }

/* -- ========================================================= -- */
/* -- === Large Desktop Layout - 1200 px  12 columns        === -- */
/* -- ========================================================= -- */
/*      large desktop layout (1200px and more )                    */    
 @media  only screen and (min-width: 1200px)   
   { 
     width: 0%; 
/*	 min-width: 0;   
     max-width: 0; */

/*-- our cleafix hack -- */               
  .row:before, 
    .row:after {
        content:"";
        display: table ;
        clear:both;
    }	     

.grid-container-12{
     width: 100%;
    /*       min-width: 1200px; 		*/  
    }      

/*-- setting border box on all elements inside the grid --*/    
.grid-container-12 *{
        box-sizing: border-box; 
    }                                     

/* column width percent = divide 100 percent by num of columns */
/*to prevent empty columns from stacking provide min-height 1px   */  
    [class*='col-12'] {
        float: left; 
        min-height: 1px; 
        width: 8.33333333333%; 
        /*-- gutter -- */              
        padding: 12px; 
		background-color: #f8ee79; 
    }

    .col-12-1{ width: 8.33333333333%; }
    .col-12-2{ width: 16.66666666666%; }
    .col-12-3{ width: 24.99999999999%; }
    .col-12-4{ width: 33.33333333332%; }
    .col-12-5{ width: 41.66666666665%; }
	.col-12-6{ width: 49.99999999998%; }
    .col-12-7{ width: 58.33333333331%; }
    .col-12-8{ width: 66.66666666664%;  }
    .col-12-9{ width: 74.99999999997%; }
    .col-12-10{ width: 83.3333333333%; }	
	.col-12-11{ width: 91.66666666663%; }
    .col-12-12{ width: 99.99999999996%; }

/*  -- ========================================================= --  */    
    .outline, .outline *{
        outline: 1px solid #F6A1A1; 
    }
	
    /*-- some extra column content styling -- */   
    [class*='col-12'] > p {
	 background-color: #ffeb00; 
     padding: 0;
     margin: 0;
     text-align: center; 
     color: white; 
    }
	   
.text12::before {
  content: "Large Desktop Layout 1200 px";
	display: inline;
	}	   	   	   
}

/* -- =========================================================== -- */
/* -- === Large Desktop Layout - 1200 px  6 columns           === -- */
/* -- =========================================================== -- */
/*      large desktop layout (1200px and more )                      */    
 @media  only screen and (min-width: 1200px)
   {
.grid-container-6{
      width: 100%; 
     /*     min-width: 1200px;   */
 /*	max-width:  px; */
    }

/*-- setting border box on all elements inside the grid --*/
.grid-container-6 *{
        box-sizing: border-box; 
    }
/*-- our cleafix hack -- */ 
    .row:before, 
    .row:after {
        content:"";
        display: table ;
        clear:both;
    }	

/*-- ========================================================= --*/

/* column width percent = divide 100 percent by num of columns */
/*to prevent empty columns from stacking provide min-height 1px   */
/*  class group setting                                        */
    [class*='col-6'] {
        float: left; 
        min-height: 1px; 
        width: 16.66%; 
        /*-- gutter -- */
        padding: 12px; 
        background-color: #f8ee79; 
    }

    .col-6-1{ width: 16.66%; }
    .col-6-2{ width: 33.33%; }
    .col-6-3{ width: 50%;    }
    .col-6-4{ width: 66.66%; }
    .col-6-5{ width: 83.33%; }
    .col-6-6{ width: 100%;   }

/*-- ========================================================= --*/
    .outline, .outline *{
        outline: 1px solid #F6A1A1; 
    }
	
    /*-- some extra column content styling --*/
    [class*='col-6'] > p {
	background-color: #ffeb00; 
     padding: 0;
     margin: 0;
     text-align: center; 
     color: white; 
    }
	   
.text6::before {
  content: "Large Desktop Layout 1200 px";
	display: inline;
	}	      
 }

/* -- =========================================================== -- */
/* -- === Large Desktop Layout - 1200 px  4 columns           === -- */
/* -- =========================================================== -- */
/*      large desktop layout (1200px and more )                      */    
 @media  only screen and (min-width: 1200px)
   {
.grid-container-4{
      width: 100%; 
     /*     min-width: 1200px;   */
     /*	max-width:  px; */
    }

/*-- setting border box on all elements inside the grid --*/
.grid-container-4 *{
        box-sizing: border-box; 
    }
/*-- our cleafix hack -- */ 
    .row:before, 
    .row:after {
        content:"";
        display: table ;
        clear:both;
    }	

/*-- ========================================================= --*/

/* column width percent = divide 100 percent by num of columns */
/*to prevent empty columns from stacking provide min-height 1px   */
/*  class group setting                                        */
    [class*='col-4'] {
        float: left; 
        min-height: 1px; 
        width: 25%; 
        /*-- gutter -- */
        padding: 12px; 
        background-color: #f8ee79; 
    }

    .col-4-1{ width: 25%; }
    .col-4-2{ width: 50%; }
    .col-4-3{ width: 75%;    }
    .col-4-4{ width: 100%; }

/*-- ========================================================= --*/
    .outline, .outline *{
        outline: 1px solid #F6A1A1; 
    }
	
    /*-- some extra column content styling --*/
    [class*='col-4'] > p {
     background-color: #ffeb00; 
     padding: 0;
     margin: 0;
     text-align: center; 
     color: white; 
    }
	   
.text4::before {
  content: "Large Desktop Layout 1200 px";
	display: inline;
	}	      
 }

/* -- ========================================================= -- */
/* -- === Tablet landscape and desktop - 960 px  16 columns === -- */
/* -- ========================================================= -- */
/* tablet landscape and desktop layout  (960px to 1199px ) */
 @media  only screen and (min-width: 960px) and (max-width: 1199px)
   {
      width: 0%; 
      min-width: 0;   
      max-width: 0; 

/*-- our cleafix hack -- */ 
  .row:before, 
    .row:after {
        content:"";
        display: table ;
        clear:both;
    }	 
 
.grid-container-16{
        width: 100%; 
/*   min-width: 960px;   
   max-width: 1199px; 	 */ 
    }

/*-- setting border box on all elements inside the grid --*/     
.grid-container-16 *{
        box-sizing: border-box; 
    }

/* column width percent = divide 100 percent by num of columns */
/*to prevent empty columns from stacking provide min-height 1px   */   
    [class*='col-16'] {
        float: left; 
        min-height: 1px; 
        width: 6.25%;             
        /*-- gutter -- */  				 			
        padding: 12px;    								
 /*       background-color: #FFDCDC; */
		background-color: #8cff78
    }

    .col-16-1{ width: 6.25%; }
    .col-16-2{ width: 12.5%; }
    .col-16-3{ width: 18.75%; }
    .col-16-4{ width: 25%; }
    .col-16-5{ width: 31.25%; }
	.col-16-6{ width: 37.5%; }
    .col-16-7{ width: 43.75%; }
    .col-16-8{ width: 50%;  }
    .col-16-9{ width: 56.25%; }
    .col-16-10{ width: 62.5%; }	
	.col-16-11{ width: 68.75%; }
    .col-16-12{ width: 75%; }  
    .col-16-13{ width: 81.25%; }
    .col-16-14{ width: 87.5%; }
    .col-16-15{ width: 93.75%; }
	.col-16-16{ width: 100%; }       

/* -- ========================================================= -- */ 
    .outline, .outline *{
        outline: 1px solid #F6A1A1; 
    }
	
    /* -- some extra column content styling -- */
    [class*='col-16'] > p {
     background-color: #2bf807; 
     padding: 0;
     margin: 0;
     text-align: center; 
     color: white; 
    }
	   
 .text16::before {
    content: "Large Landscape Tablet and Desktop Layout 960 px";
	display: inline;
	}
 }

/* -- ========================================================= -- */
/* -- === Tablet landscape and desktop - 960 px  12 columns === -- */
/* -- ========================================================= -- */
/*      tablet landscape and desktop layout (960px to 1199px )     */    
 @media  only screen and (min-width:960px) and (max-width: 1199px)   
   { 
     width: 0%; 
/*	 min-width: 0;   
     max-width: 0; */

/*-- our cleafix hack -- */               
  .row:before, 
    .row:after {
        content:"";
        display: table ;
        clear:both;
    }	     

.grid-container-12{
     width: 100%;
    /*    min-width: 960px; 		*/  
    }      

/*-- setting border box on all elements inside the grid --*/    
.grid-container-12 *{
        box-sizing: border-box; 
    }                                     

/* column width percent = divide 100 percent by num of columns */
/*to prevent empty columns from stacking provide min-height 1px   */  
    [class*='col-12'] {
        float: left; 
        min-height: 1px; 
        width: 8.33333333333%; 
        /*-- gutter -- */              
        padding: 12px; 
 /*       background-color: #FFDCDC; */
		background-color: #8cff78
    }

    .col-12-1{ width: 8.33333333333%; }
    .col-12-2{ width: 16.66666666666%; }
    .col-12-3{ width: 24.99999999999%; }
    .col-12-4{ width: 33.33333333332%; }
    .col-12-5{ width: 41.66666666665%; }
	.col-12-6{ width: 49.99999999998%; }
    .col-12-7{ width: 58.33333333331%; }
    .col-12-8{ width: 66.66666666664%;  }
    .col-12-9{ width: 74.99999999997%; }
    .col-12-10{ width: 83.3333333333%; }	
	.col-12-11{ width: 91.66666666663%; }
    .col-12-12{ width: 99.99999999996%; }

/*  -- ========================================================= --  */    
    .outline, .outline *{
        outline: 1px solid #F6A1A1; 
    }
	
    /*-- some extra column content styling -- */   
    [class*='col-12'] > p {
	 background-color: #2bf807;  
     padding: 0;
     margin: 0;
     text-align: center; 
     color: white; 
    }
	   
.text12::before {
  content: "Large Landscape Tablet and Desktop Layout 960 px";
	display: inline;
	}	   
  }

/* -- ========================================================= -- */
/* -- === Tablet landscape and desktop - 960 px  6 columns  === -- */
/* -- ========================================================= -- */
/*      tablet landscape and desktop layout (960px to 1199px )     */    
 @media  only screen and (min-width:960px) and (max-width: 1199px)   
   {
.grid-container-6{
      width: 100%; 
     /*     min-width: 1200px;   */
    /*	max-width:  px; */
    }

/*-- setting border box on all elements inside the grid --*/
.grid-container-6 *{
        box-sizing: border-box; 
    }
/*-- our cleafix hack -- */ 
    .row:before, 
    .row:after {
        content:"";
        display: table ;
        clear:both;
    }	

/*-- ========================================================= --*/

/* column width percent = divide 100 percent by num of columns */
/*to prevent empty columns from stacking provide min-height 1px   */
/*  class group setting                                        */
    [class*='col-6'] {
        float: left; 
        min-height: 1px; 
        width: 16.66%; 
        /*-- gutter -- */
        padding: 12px; 
 /*       background-color: #FFDCDC; */
		background-color: #8cff78
    }

    .col-6-1{ width: 16.66%; }
    .col-6-2{ width: 33.33%; }
    .col-6-3{ width: 50%;    }
    .col-6-4{ width: 66.66%; }
    .col-6-5{ width: 83.33%; }
    .col-6-6{ width: 100%;   }

/*-- ========================================================= --*/
    .outline, .outline *{
        outline: 1px solid #F6A1A1; 
    }
	
    /*-- some extra column content styling --*/
    [class*='col-6'] > p {
	 background-color: #2bf807; 
     padding: 0;
     margin: 0;
     text-align: center; 
     color: white; 
    }
	   
.text6::before {
  content: "Large Landscape Tablet and Desktop Layout 960 px";
	display: inline;
	}	   
 }

/* -- =========================================================== -- */
/* -- === Large Desktop Layout - 960 px  4 columns            === -- */
/* -- =========================================================== -- */
/*      tablet landscape and desktop layout (960px to 1199px )      */    
 @media  only screen and (min-width:960px) and (max-width: 1199px)   
   {
.grid-container-4{
      width: 100%; 
     /*     min-width: 1200px;   */
     /*	max-width:  px; */
    }

/*-- setting border box on all elements inside the grid --*/
.grid-container-4 *{
        box-sizing: border-box; 
    }
/*-- our cleafix hack -- */ 
    .row:before, 
    .row:after {
        content:"";
        display: table ;
        clear:both;
    }	

/*-- ========================================================= --*/

/* column width percent = divide 100 percent by num of columns */
/*to prevent empty columns from stacking provide min-height 1px   */
/*  class group setting                                        */
    [class*='col-4'] {
        float: left; 
        min-height: 1px; 
        width: 25%; 
        /*-- gutter -- */
        padding: 12px; 
 /*       background-color: #FFDCDC; */
		background-color: #8cff78
    }

    .col-4-1{ width: 25%; }
    .col-4-2{ width: 50%; }
    .col-4-3{ width: 75%;    }
    .col-4-4{ width: 100%; }

/*-- ========================================================= --*/
    .outline, .outline *{
        outline: 1px solid #F6A1A1; 
    }
	
    /*-- some extra column content styling --*/
    [class*='col-4'] > p {
	 background-color: #2bf807; 
     padding: 0;
     margin: 0;
     text-align: center; 
     color: white; 
    }
	   
.text4::before {
   content: "Large Landscape Tablet and Desktop Layout 960 px";
	display: inline;
	}	      
 }

/*  -- ======================================================== --  */
/* -- ========================================================= -- */
/* -- ===============  768 px  16 columns   =================== -- */
/* -- ========================================================= -- */
/*     tablet portrait layout  (768px to 959px )                   */
 @media  only screen and (min-width: 768px) and (max-width:959px)
   {
      width: 0%; 
  min-width: 0;   
   max-width: 0; /*	 */

/*-- our cleafix hack -- */ 
  .row:before, 
    .row:after {
        content:"";
        display: table ;
        clear:both;
    }	 
 
.grid-container-16{
        width: 100%; 
	/*   min-width: 768px;   
   max-width: 959px; 	 */ 
    }

/*-- setting border box on all elements inside the grid --*/     
.grid-container-16 *{
        box-sizing: border-box; 
    }

/* column width percent = divide 100 percent by num of columns */
/*to prevent empty columns from stacking provide min-height 1px   */     
    [class*='col-16'] {
        float: left; 
        min-height: 1px; 
        width: 6.25%; 
        /*-- gutter -- */  					 			
        padding: 12px;    								
        background-color: #7acafa;
    }

    .col-16-1{ width: 6.25%; }
    .col-16-2{ width: 12.5%; }
    .col-16-3{ width: 18.75%; }
    .col-16-4{ width: 25%; }
    .col-16-5{ width: 31.25%; }
	.col-16-6{ width: 37.5%; }
    .col-16-7{ width: 43.75%; }
    .col-16-8{ width: 50%;  }
    .col-16-9{ width: 56.25%; }
    .col-16-10{ width: 62.5%; }	
	.col-16-11{ width: 68.75%; }
    .col-16-12{ width: 75%; }  
    .col-16-13{ width: 81.25%; }
    .col-16-14{ width: 87.5%; }
    .col-16-15{ width: 93.75%; }
	.col-16-16{ width: 100%; } 

/* -- ========================================================= -- */ 
    .outline, .outline *{
        outline: 1px solid #F6A1A1; 
    }
	
    /* -- some extra column content styling -- */
    [class*='col-16'] > p {
     background-color: #009fff;
     padding: 0;
     margin: 0;
     text-align: center; 
     color: white; 
    }
	   
.text16::before {
  content: "Tablet Portrait Layout 768 px ";
	display: inline;
	} 
 }

/* -- ========================================================= -- */
/* -- ===============  768 px  12 columns   =================== -- */
/* -- ========================================================= -- */
/*     tablet portrait layout  (768px to 959px )                   */
 @media  only screen and (min-width: 768px) and (max-width:959px)
   { 
     width: 0%; 
/*	  min-width: 0;   
   max-width: 0; */

/*-- our cleafix hack -- */               
  .row:before, 
    .row:after {
        content:"";
        display: table ;
        clear:both;
    }	     

.grid-container-12{
     width: 100%;
	/*   min-width: 768px;   
   max-width: 959px; 	 */ 
    }      

/*-- setting border box on all elements inside the grid --*/    
.grid-container-12 *{
        box-sizing: border-box; 
    }                                     

/* column width percent = divide 100 percent by num of columns */
/*to prevent empty columns from stacking provide min-height 1px   */  
    [class*='col-12'] {
        float: left; 
        min-height: 1px; 
        width: 8.33333333333%; 
        /*-- gutter -- */              
        padding: 12px; 
        background-color: #7acafa;
    }

    .col-12-1{ width: 8.33333333333%; }
    .col-12-2{ width: 16.66666666666%; }
    .col-12-3{ width: 24.99999999999%; }
    .col-12-4{ width: 33.33333333332%; }
    .col-12-5{ width: 41.66666666665%; }
	.col-12-6{ width: 49.99999999998%; }
    .col-12-7{ width: 58.33333333331%; }
    .col-12-8{ width: 66.66666666664%;  }
    .col-12-9{ width: 74.99999999997%; }
    .col-12-10{ width: 83.3333333333%; }	
	.col-12-11{ width: 91.66666666663%; }
    .col-12-12{ width: 99.99999999996%; }

/*  -- ========================================================= --  */    
    .outline, .outline *{
        outline: 1px solid #F6A1A1; 
    }
	
    /*-- some extra column content styling -- */   
    [class*='col-12'] > p {
     background-color: #009fff;  
     padding: 0;
     margin: 0;
     text-align: center; 
     color: white; 
    }
	   
.text12::before {
  content: "Tablet Portrait Layout 768 px ";
	display: inline;
	} 
  }

/* -- ========================================================= -- */
/* -- === Tablet Portrait Layout 768 px  6 columns   ========= -- */
/* -- ========================================================= -- */
/*     tablet portrait layout  (768px to 959px )                   */
 @media  only screen and (min-width: 768px) and (max-width:959px) 
   {
.grid-container-6{
      width: 100%; 
     /*     min-width: 1200px;   */
 /*	max-width:  px; */
    }

/*-- setting border box on all elements inside the grid --*/
.grid-container-6 *{
        box-sizing: border-box; 
    }
/*-- our cleafix hack -- */ 
    .row:before, 
    .row:after {
        content:"";
        display: table ;
        clear:both;
    }	

/*-- ========================================================= --*/

/* column width percent = divide 100 percent by num of columns */
/*to prevent empty columns from stacking provide min-height 1px   */
/*  class group setting                                        */
    [class*='col-6'] {
        float: left; 
        min-height: 1px; 
        width: 16.66%; 
        /*-- gutter -- */
        padding: 12px; 
        background-color: #7acafa;
    }

    .col-6-1{ width: 16.66%; }
    .col-6-2{ width: 33.33%; }
    .col-6-3{ width: 50%;    }
    .col-6-4{ width: 66.66%; }
    .col-6-5{ width: 83.33%; }
    .col-6-6{ width: 100%;   }

/*-- ========================================================= --*/
    .outline, .outline *{
        outline: 1px solid #F6A1A1; 
    }
	
    /*-- some extra column content styling --*/
    [class*='col-6'] > p {
     background-color: #009fff;     
     padding: 0;
     margin: 0;
     text-align: center; 
     color: white; 
    }
	   
.text6::before {
  content: "Tablet Portrait Layout 768 px ";
	display: inline;
	}
}

/* -- ========================================================= -- */
/* -- === Tablet Portrait Layout 768 px  4 columns   ========== -- */
/* -- ========================================================= -- */
/*     tablet portrait layout  (768px to 959px )                   */
 @media  only screen and (min-width: 768px) and (max-width:959px) 
   {
.grid-container-4{
      width: 100%; 
     /*     min-width: 1200px;   */
 /*	max-width:  px; */
    }

/*-- setting border box on all elements inside the grid --*/
.grid-container-4 *{
        box-sizing: border-box; 
    }
/*-- our cleafix hack -- */ 
    .row:before, 
    .row:after {
        content:"";
        display: table ;
        clear:both;
    }	

/*-- ========================================================= --*/

/* column width percent = divide 100 percent by num of columns */
/*to prevent empty columns from stacking provide min-height 1px   */
/*  class group setting                                        */
    [class*='col-4'] {
        float: left; 
        min-height: 1px; 
        width: 25%; 
        /*-- gutter -- */
        padding: 12px; 
        background-color: #7acafa;
    }

    .col-4-1{ width: 25%; }
    .col-4-2{ width: 50%; }
    .col-4-3{ width: 75%; }
    .col-4-4{ width: 100%; }

/*-- ========================================================= --*/
    .outline, .outline *{
        outline: 1px solid #F6A1A1; 
    }
	
    /*-- some extra column content styling --*/
    [class*='col-4'] > p {
     background-color: #009fff; 
     padding: 0;
     margin: 0;
     text-align: center; 
     color: white; 
    }
	   
.text4::before {
  content: "Tablet Portrait Layout 768 px ";
	display: inline;
	}	      
 }

/* -- ========================================================= -- */
/* -- ===============  480 px  16 columns   =================== -- */
/* -- ========================================================= -- */
/*     mobile landscape layout  (480px to 767px )                  */
 @media  only screen and (min-width: 480px) and (max-width:767px)
   {
      width: 0%; 
  min-width: 0;   
   max-width: 0; /*	 */

/*-- our cleafix hack -- */ 
  .row:before, 
    .row:after {
        content:"";
        display: table ;
        clear:both;
    }	 
 
.grid-container-16{
        width: 100%; 
	 /*   min-width: 480px;   
   max-width: 767px; 	 */ 
    }

/*-- setting border box on all elements inside the grid --*/     
.grid-container-16 *{
        box-sizing: border-box; 
    }

/* column width percent = divide 100 percent by num of columns */
/*to prevent empty columns from stacking provide min-height 1px   */     
    [class*='col-16'] {
        float: left; 
        min-height: 1px; 
        width: 6.25%; 
        /*-- gutter -- */  					 			
        padding: 12px;    								
        background-color: #e5ff78;
    }

    .col-16-1{ width: 6.25%; }
    .col-16-2{ width: 12.5%; }
    .col-16-3{ width: 18.75%; }
    .col-16-4{ width: 25%; }
    .col-16-5{ width: 31.25%; }
	.col-16-6{ width: 37.5%; }
    .col-16-7{ width: 43.75%; }
    .col-16-8{ width: 50%;  }
    .col-16-9{ width: 56.25%; }
    .col-16-10{ width: 62.5%; }	
	.col-16-11{ width: 68.75%; }
    .col-16-12{ width: 75%; }  
    .col-16-13{ width: 81.25%; }
    .col-16-14{ width: 87.5%; }
    .col-16-15{ width: 93.75%; }
	.col-16-16{ width: 100%; } 

/* -- ========================================================= -- */ 
    .outline, .outline *{
        outline: 1px solid #F6A1A1; 
    }
	
    /* -- some extra column content styling -- */
    [class*='col-16'] > p {
     background-color: #ceff00;   
     padding: 0;
     margin: 0;
     text-align: center; 
     color: white; 
    }
	   
.text16::before {
  content: "Mobile Landscape Layout 480 px";
	display: inline;
	}	   
 }

/*  -- ========================================================= --  */

/* -- ========================================================= -- */
/* -- ===============  480 px  12 columns   =================== -- */
/* -- ========================================================= -- */
/*     mobile landscape layout  (480px to 767px )                  */
 @media  only screen and (min-width: 480px) and (max-width:767px)
   { 

     width: 0%; 
/*	  min-width: 0;   
   max-width: 0; */

/*-- our cleafix hack -- */               
  .row:before, 
    .row:after {
        content:"";
        display: table ;
        clear:both;
    }	     

.grid-container-12{
     width: 100%;
	 /*   min-width: 480px;   
   max-width: 767px; 	 */ 
    }      

/*-- setting border box on all elements inside the grid --*/    
.grid-container-12 *{
        box-sizing: border-box; 
    }                                     

/* column width percent = divide 100 percent by num of columns */
/*to prevent empty columns from stacking provide min-height 1px   */  
    [class*='col-12'] {
        float: left; 
        min-height: 1px; 
        width: 8.33333333333%; 
        /*-- gutter -- */              
        padding: 12px; 
        background-color: #e5ff78;
    }

    .col-12-1{ width: 8.33333333333%; }
    .col-12-2{ width: 16.66666666666%; }
    .col-12-3{ width: 24.99999999999%; }
    .col-12-4{ width: 33.33333333332%; }
    .col-12-5{ width: 41.66666666665%; }
	.col-12-6{ width: 49.99999999998%; }
    .col-12-7{ width: 58.33333333331%; }
    .col-12-8{ width: 66.66666666664%;  }
    .col-12-9{ width: 74.99999999997%; }
    .col-12-10{ width: 83.3333333333%; }	
	.col-12-11{ width: 91.66666666663%; }
    .col-12-12{ width: 99.99999999996%; }

/*  -- ========================================================= --  */    
    .outline, .outline *{
        outline: 1px solid #F6A1A1; 
    }
	
    /*-- some extra column content styling -- */   
    [class*='col-12'] > p {
     background-color: #ceff00;   
     padding: 0;
     margin: 0;
     text-align: center; 
     color: white; 
    }
	   	   
.text12::before {
  content: "Mobile Landscape Layout 480 px";
	display: inline;
	}		   
  }

/* -- ========================================================= -- */
/* -- == Mobile Landscape Layout  480 px  6 columns  ========= -- */
/* -- ========================================================= -- */
/*     mobile landscape layout  (480px to 767px )                  */
 @media  only screen and (min-width: 480px) and (max-width:767px)
   {
.grid-container-6{
      width: 100%; 
     /*     min-width: 1200px;   */
 /*	max-width:  px; */
    }

/*-- setting border box on all elements inside the grid --*/
.grid-container-6 *{
        box-sizing: border-box; 
    }
/*-- our cleafix hack -- */ 
    .row:before, 
    .row:after {
        content:"";
        display: table ;
        clear:both;
    }	

/*-- ========================================================= --*/

/* column width percent = divide 100 percent by num of columns */
/*to prevent empty columns from stacking provide min-height 1px   */
/*  class group setting                                        */
    [class*='col-6'] {
        float: left; 
        min-height: 1px; 
        width: 16.66%; 
        /*-- gutter -- */
        padding: 12px; 
        background-color: #e5ff78;
    }

    .col-6-1{ width: 16.66%; }
    .col-6-2{ width: 33.33%; }
    .col-6-3{ width: 50%;    }
    .col-6-4{ width: 66.66%; }
    .col-6-5{ width: 83.33%; }
    .col-6-6{ width: 100%;   }

/*-- ========================================================= --*/
    .outline, .outline *{
        outline: 1px solid #F6A1A1; 
    }
	
    /*-- some extra column content styling --*/
    [class*='col-6'] > p {
     background-color: #ceff00; 
     padding: 0;
     margin: 0;
     text-align: center; 
     color: white; 
    }
	   	   
.text6::before {
  content: "Mobile Landscape Layout 480 px";
	display: inline;
	}		   
   }

/* -- ========================================================= -- */
/* -- == Mobile Landscape Layout  480 px  4 columns  ========= -- */
/* -- ========================================================= -- */
/*     mobile landscape layout  (480px to 767px )                  */
 @media  only screen and (min-width: 480px) and (max-width:767px)
   {
.grid-container-4{
      width: 100%; 
     /*     min-width: 1200px;   */
 /*	max-width:  px; */
    }

/*-- setting border box on all elements inside the grid --*/
.grid-container-4 *{
        box-sizing: border-box; 
    }
/*-- our cleafix hack -- */ 
    .row:before, 
    .row:after {
        content:"";
        display: table ;
        clear:both;
    }	

/*-- ========================================================= --*/

/* column width percent = divide 100 percent by num of columns */
/*to prevent empty columns from stacking provide min-height 1px   */
/*  class group setting                                        */
    [class*='col-4'] {
        float: left; 
        min-height: 1px; 
        width: 25%; 
        /*-- gutter -- */
        padding: 12px; 
        background-color: #e5ff78;
    }

    .col-4-1{ width: 25%; }
    .col-4-2{ width: 50%; }
    .col-4-3{ width: 75%; }
    .col-4-4{ width: 100%; }

/*-- ========================================================= --*/
    .outline, .outline *{
        outline: 1px solid #F6A1A1; 
    }
	
    /*-- some extra column content styling --*/
    [class*='col-4'] > p {
	 background-color: #ceff00; 
     padding: 0;
     margin: 0;
     text-align: center; 
     color: white; 
    }
	   
.text4::before {
  content: "Mobile Landscape Layout 480 px";
	display: inline;
	}	      
 }

/* -- ========================================================= -- */
/* -- =============== less than 480 px  16 columns   ========== -- */
/* -- ========================================================= -- */
/*     mobile portrait layout  ( to 479px )                        */
 @media  only screen and (max-width:479px)
   {
      width: 0%; 
  min-width: 0;   
   max-width: 0; /*	 */

/*-- our cleafix hack -- */ 
  .row:before, 
    .row:after {
        content:"";
        display: table ;
        clear:both;
    }	 

.grid-container-16{
        width: 100%; 
	 /*     
   max-width: 479px; 	 */ 
    }

/*-- setting border box on all elements inside the grid --*/     
.grid-container-16 *{
        box-sizing: border-box; 
    }

/* column width percent = divide 100 percent by num of columns */
/*to prevent empty columns from stacking provide min-height 1px   */     
    [class*='col-16'] {
        float: left; 
        min-height: 1px; 
        width: 6.25%; 
        /*-- gutter -- */  					 			
        padding: 12px;    								
        background-color:  #ffc678;
    }

    .col-16-1{ width: 6.25%; }
    .col-16-2{ width: 12.5%; }
    .col-16-3{ width: 18.75%; }
    .col-16-4{ width: 25%; }
    .col-16-5{ width: 31.25%; }
	.col-16-6{ width: 37.5%; }
    .col-16-7{ width: 43.75%; }
    .col-16-8{ width: 50%;  }
    .col-16-9{ width: 56.25%; }
    .col-16-10{ width: 62.5%; }	
	.col-16-11{ width: 68.75%; }
    .col-16-12{ width: 75%; }  
    .col-16-13{ width: 81.25%; }
    .col-16-14{ width: 87.5%; }
    .col-16-15{ width: 93.75%; }
	.col-16-16{ width: 100%; } 

/* -- ========================================================= -- */ 
    .outline, .outline *{
        outline: 1px solid #F6A1A1; 
    }
	
    /* -- some extra column content styling -- */
    [class*='col-16'] > p {		
	 background-color: #e89d37; 
     padding: 0;
     margin: 0;
     text-align: center; 
     color: white; 
    }
	   
.text16::before {
  content: "Mobile Portrait Layout less than 479";
	display: inline;
	}	   
 }

/* -- ========================================================= -- */
/* -- =============== less than 480 px  12 columns   ========== -- */
/* -- ========================================================= -- */
/*     mobile portrait layout  ( to 479px )                        */
 @media  only screen and (max-width:479px)
   {

     width: 0%; 
/*	  min-width: 0;   
   max-width: 0; */

/*-- our cleafix hack -- */               
  .row:before, 
    .row:after {
        content:"";
        display: table ;
        clear:both;
    }	     

.grid-container-12{
     width: 100%;
	 /*   
   max-width: 479px; 	 */ 
    }      

/*-- setting border box on all elements inside the grid --*/    
.grid-container-12 *{
        box-sizing: border-box; 
    }                                     

/* column width percent = divide 100 percent by num of columns */
/*to prevent empty columns from stacking provide min-height 1px   */  
    [class*='col-12'] {
        float: left; 
        min-height: 1px; 
        width: 8.33333333333%; 
        /*-- gutter -- */              
        padding: 12px; 
        background-color:  #ffc678;
    }

    .col-12-1{ width: 8.33333333333%; }
    .col-12-2{ width: 16.66666666666%; }
    .col-12-3{ width: 24.99999999999%; }
    .col-12-4{ width: 33.33333333332%; }
    .col-12-5{ width: 41.66666666665%; }
	.col-12-6{ width: 49.99999999998%; }
    .col-12-7{ width: 58.33333333331%; }
    .col-12-8{ width: 66.66666666664%;  }
    .col-12-9{ width: 74.99999999997%; }
    .col-12-10{ width: 83.3333333333%; }	
	.col-12-11{ width: 91.66666666663%; }
    .col-12-12{ width: 99.99999999996%; }

/*  -- ========================================================= --  */    
    .outline, .outline *{
        outline: 1px solid #F6A1A1; 
    }
	
    /*-- some extra column content styling -- */   
    [class*='col-12'] > p {
     background-color: #e89d37; 
     padding: 0;
     margin: 0;
     text-align: center; 
     color: white; 
    }
	   
.text12::before {
  content: "Mobile Portrait Layout less than 479";
	display: inline;
	}	   
  }

/* -- ========================================================= -- */
/* -- =============== less than 480 px   6 columns   ========== -- */
/* -- ========================================================= -- */
/*     mobile portrait layout  ( to 479px )                        */
 @media  only screen and (max-width:479px)
   {
.grid-container-6{
      width: 100%; 
     /*     min-width: 1200px;   */
 /*	max-width:  px; */
    }

/*-- setting border box on all elements inside the grid --*/
.grid-container-6 *{
        box-sizing: border-box; 
    }
/*-- our cleafix hack -- */ 
    .row:before, 
    .row:after {
        content:"";
        display: table ;
        clear:both;
    }	

/*-- ========================================================= --*/

/* column width percent = divide 100 percent by num of columns */
/*to prevent empty columns from stacking provide min-height 1px   */
/*  class group setting                                        */
    [class*='col-6'] {
        float: left; 
        min-height: 1px; 
        width: 16.66%; 
        /*-- gutter -- */
        padding: 12px; 
        background-color:  #ffc678;
    }

    .col-6-1{ width: 16.66%; }
    .col-6-2{ width: 33.33%; }
    .col-6-3{ width: 50%;    }
    .col-6-4{ width: 66.66%; }
    .col-6-5{ width: 83.33%; }
    .col-6-6{ width: 100%;   }

/*-- ========================================================= --*/
    .outline, .outline *{
        outline: 1px solid #F6A1A1; 
    }
	
    /*-- some extra column content styling --*/
    [class*='col-6'] > p {
     background-color: #e89d37; 
     padding: 0;
     margin: 0;
     text-align: center; 
     color: white; 
    }  
	   
.text6::before {
  content: "Mobile Portrait Layout less than 479";
	display: inline;
	}	   
   }

/* -- ========================================================= -- */
/* -- =============== less than 480 px  4 columns   ========== -- */
/* -- ========================================================= -- */
/*     mobile portrait layout  ( to 479px )                        */
 @media  only screen and (max-width:479px)
   {

.grid-container-4{
      width: 100%; 
     /*     min-width: 1200px;   */
 /*	max-width:  px; */
    }

/*-- setting border box on all elements inside the grid --*/
.grid-container-4 *{
        box-sizing: border-box; 
    }
/*-- our cleafix hack -- */ 
    .row:before, 
    .row:after {
        content:"";
        display: table ;
        clear:both;
    }	

/*-- ========================================================= --*/

/* column width percent = divide 100 percent by num of columns */
/*to prevent empty columns from stacking provide min-height 1px   */
/*  class group setting                                        */
    [class*='col-4'] {
        float: left; 
        min-height: 1px; 
        width: 25%; 
        /*-- gutter -- */
        padding: 12px; 
        background-color:  #ffc678;
    }

    .col-4-1{ width: 25%; }
    .col-4-2{ width: 50%; }
    .col-4-3{ width: 75%; }
    .col-4-4{ width: 100%; }

/*-- ========================================================= --*/
    .outline, .outline *{
        outline: 1px solid #F6A1A1; 
    }
	
    /*-- some extra column content styling --*/
    [class*='col-4'] > p {
     background-color: #e89d37; 
     padding: 0;
     margin: 0;
     text-align: center; 
     color: white; 
    }
	   
.text4::before {
   content: "Mobile Portrait Layout less than 479";
	display: inline;
	}	      
 }

/*  -- ========================================================= --  */